

body{
  background-color: #000;
}
#set-height  {
  height: 2950px;
}
#v0{
  top :0;
  height: 100%;
  position: fixed;
}

.ethos{
  z-index: 3;
  position: absolute;
  top:70%;
  left:40%;
  color: #fff;
  transition: all 2s ease-out;
}


h1{
  font-family: Geostencil;
  font-size: 70px;
}
